{
    "presets": [
        [
            "@babel/preset-react",
            {
                "pragma": "h",
                "pragmaFrag": "Fragment"
            }
        ]
    ],
    "plugins": ["syntax-dynamic-import"]
}
